body {
  font-family: "Poppins" sans-serif;
}
.encabezado {
  display: flex;
  padding: 2em;
  justify-content: space-evenly;
  border-radius: 21px;
  border-radius: 21px;
  background: #42e9ff;
  box-shadow:  17px 17px 42px #30a8b8,
             -17px -17px 42px #54ffff;
}

.encabezado_title {
    font-size: large;
    font-weight: 700;
    color: #333;
    border-bottom: 2em;
    text-align: center;
}

.encabezado_lista {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  border: 1px solid red;
  width: 100%;
}

.aboutMe {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: arial;
  font-size: 1.5em;
  color: #333;
  padding: 2em;
  border-radius: 30px;
  background-color: gray;
}

.aboutMe p {
  text-align: justify;
}

.tecnologias {
  border: 1px solid;
  border-radius: 30px;
  background-color: gray;
  width: 800px;
  text-align: center;
}

.tarjeta {
    width: 200px; /* Tamaño fijo para todas las tarjetas */
    height: 200px; /* Altura fija para todas las tarjetas */
    border: 1em;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.4s ease;
    
}

.tarjeta:hover {
    transform: scale(1.1);
}

.tarjetas-tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    padding: 2em;
    justify-content: space-between;
    
}

.tarjeta img {
    max-width: 100%;
    max-height: 60%;
}

h2 {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: #021931;
}

.formulario {
    max-width: 600px; 
    margin: 0 auto;
    padding: 2em;
    border: 0.2em solid #ddd;
    border-radius: 0.3em;
    background-color: #f9f9f9;
  }

  .formulario input,
  .formulario textarea {
    display: block;
    font-size: 2em;
    margin-bottom: 1em;
    border: 0.04em solid #ccc;
    width: 100%;
    border-radius: 0.3em;
    font-size: 2em;
  }

  .formulario button {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 0.3em; 
    padding: 15px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }

  .formulario button:hover {
    background-color: #0056b3; 
  }

  .formulario label {
    font-weight: bold; 
    display: block; 
    margin-bottom: 5px; 
  }


  


